// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// Global Styles

* {
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-body;
  color: $brand-black;
}

a {
  color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 15%);
  }
}
// Header Styles

.bg-blue {
  background-color: $brand-primary;
}

.bg-light {
  background-color: $white !important;
}

.custom-logo-link img {
  width: 100%;
  max-width: 280px;
  height: auto;
  @media screen and (max-width: 767px) {
    max-width: 150px;
  }
}

.social-media {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-basis: 18%;

  & li {
    display: inline-block;

    & a {
      margin-right: 1.25rem;
      padding: 0.25rem;
      color: $white !important;

      &:hover {
        opacity: 0.5;
        color: $white !important;
      }
    }
  }
}

.donate-involve {
  display: flex;

  & .btn {
    font-size: 12px;
    margin: 0 0.5rem;
    padding: 0.5rem 1.15rem;
    border: 0;

    & + .btn {
      margin-right: 0;
    }
    @media screen and (max-width: 575px) {
      font-size: 11px;
      margin: 0 0.15rem;
      padding: 0.25rem 1rem;
    }
  }
}
// Navigation

nav {
  a {
    font-family: $font-body;
    font-weight: 600;
    transition: all 0.27s ease;
    text-transform: uppercase;
    color: $brand-black !important;

    &:hover {
      color: $brand-primary !important;
    }
  }

  & .secondary-nav a {
    font-family: $font-header;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.27s ease;
    letter-spacing: 0;
    text-transform: normal;
    color: $white !important;

    &.nav-link {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
      @media screen and (max-width: 991px) {
        font-size: 12px !important;
      }
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

.navbar-expand-md .navbar-nav {
  & .nav-link {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    @media screen and (max-width: 991px) {
      font-size: 14px;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }

  &.secondary-nav .nav-link {
    font-size: 14px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-transform: none;
    @media screen and (max-width: 991px) {
      font-size: 14px;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }
}
// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  font-weight: 700;
}
// Elements

.btn {
  font-family: $font-header;
  font-size: 18px;
  font-weight: 700;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 5rem;

  &-md {
    font-size: 15px;
    padding: 0.75rem 0;
  }

  &-primary {
    border-color: $brand-primary;
    background-color: $brand-primary;

    &:hover {
      color: $brand-primary;
      border-color: $brand-primary;
      background-color: $white;
    }
  }

  &-secondary {
    color: $brand-primary;
    border-color: $brand-primary;
    background-color: $white;

    &:hover {
      color: $white;
      border-color: $brand-black;
      background-color: $brand-black;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
// Slider/Carousel Hero

.carousel {
  .carousel-control-next,
  .carousel-control-prev {
    transition: opacity 0.33s ease;
    opacity: 0;
    @include media-breakpoint-down(xs) {
      bottom: 1rem;
      opacity: 1;
      align-items: flex-end;
    }
  }

  &:hover {
    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
    }
  }
}

.carousel-inner {
  .container,
  .row {
    @include h-100;
  }
}

.carousel-inner {
  #slide-1 {
    background: url('../img/slide-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include media-breakpoint-down(sm) {
      background-position: 60% center;
    }
    @include media-breakpoint-down(xs) {
      background-position: 65% center;
    }
  }
}

.carousel-inner {
  .carousel-item {
    height: 630px;
    @include media-breakpoint-down(xs) {
      height: 400px;

      .container {
        position: relative;
        z-index: 4;
      }

      &::before {
        position: absolute;
        z-index: 3;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background-color: rgba($white, .5);
      }
    }

    h1 {
      font-size: 72px;
      @include media-breakpoint-down(lg) {
        font-size: 54px;
      }
      @include media-breakpoint-down(md) {
        font-size: 42px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 33px;
      }

      &::after {
        position: relative;
        display: block;
        width: 42%;
        height: 5px;
        margin-top: 2rem;
        content: '';
        background-color: $brand-primary;
        @include media-breakpoint-down(xs) {
          margin: 2rem auto 0;
        }
      }

      span {
        font-family: $font-secondary;
        font-weight: 300;
      }
    }

    p {
      font-size: 22px;
      margin: 2rem 0 0;
      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }
  }

  #testimonials & .carousel-item {
    z-index: 3;
    height: 550px;
    //position: relative;
  }
}

#testimonials {
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparentize(#fff, 1);

    &.active {
      background-color: transparentize(#fff, 0);
    }
  }
}
/*
// Homepage Section
*/
.home-page section {
  padding-top: 4rem;
  padding-bottom: 4rem;

  &#welcome {
    padding-top: 2rem;
  }

  & .section-title {
    margin: 0;
    padding-bottom: 1.75rem;
  }

  & .section-lead {
    margin: 1rem 0;
  }
}

#welcome {
  h2 {
    font-size: 52px;
  }
}

.content-box {
  &:first-child {
    padding-bottom: 6rem;
  }

  .icon {
    margin-right: 1rem;
    padding: 0.5rem;
    transition: all 0.33s ease;
    border: 3px solid lighten($brand-black, 65%);
    border-radius: 10px;
    background-color: #fff;

    i {
      font-size: 54px;
      transition: all 0.33s ease;
      color: $brand-primary;
    }

    &:hover {
      border: 3px solid $brand-primary;
      background-color: $brand-primary;

      i {
        color: #fff;
      }
    }
  }

  .content {
    h4 {
      font-size: 21px;
    }

    p {
      font-size: 14px;
      font-weight: 600;
      color: lighten($brand-black, 30%);
    }
  }
}
/*
// Providers
*/
#providers {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  background-color: lighten($brand-black, 70%);

  .content {
    max-width: 80%;
    padding: 2rem 0 2rem 3rem;
    @include media-breakpoint-down(md) {
      max-width: 100%;
      padding: 0 2rem;
    }

    h3 {
      margin-bottom: 2rem;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.8;
      color: lighten($brand-black, 15%);
    }
  }
}

#providers .img-contain {
  background: url('../img/provide.jpg') no-repeat center center;
}

#providers .img-box {
  position: relative;
  width: 100%;
  height: 100%;
}
/*
// Latest Causes
*/
#latest-causes {
  overflow: hidden;

  h3 {
    font-size: 48px;
  }
}

.causes {
  h4 {
    margin: 1rem 0;
    padding: 0;
  }

  p {
    font-size: 14px;
    line-height: 2;
    color: lighten($brand-black, 25%);
  }

  a.read-more {
    font-family: $font-header;
    font-size: 16px;
    transition: all 0.33s ease;
    text-transform: uppercase;

    &::after {
      display: inline-block;
      padding-left: 0.25rem;
      content: ' »';
      transition: all 0.33s ease;
    }

    &:hover::after {
      padding-left: 0.5rem;
    }
  }
}
/*
// Testimonials
*/
#testimonials {
  overflow: hidden;
  background: url("../img/bg-reviews.jpg") center center no-repeat;
  background-size: cover;

  h3 {
    font-size: 48px;
    color: $white;
  }
}

.carousel-inner {
  #testimonials & .carousel-item {
    z-index: 3;
    height: 333px;
  }
}

#testimonials {
  .carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparentize(#fff, 1);

    &.active {
      background-color: transparentize(#fff, 0);
    }
  }

  blockquote {
    font-size: 24px;
    font-style: italic;
    line-height: 2.75rem;
    color: $white;

    &::after,
    &::before {
      position: relative;
      display: inline-block;
      float: left;
      width: 50px;
      height: 50px;
      margin-top: -1.5rem;
      content: '';
      background: url("../img/quote-left.png") no-repeat;
      background-position: 0 bottom;
      background-size: 100%;
    }

    &::after {
      position: relative;
      display: inline-block;
      float: right;
      width: 50px;
      height: 50px;
      margin-top: 0;
      content: '';
      background: url("../img/quote-right.png") no-repeat;
      background-position: 0 bottom;
      background-size: 100%;
    }
  }
}

.author {
  font-family: $font-header;
  font-size: 24px;
  font-style: normal;
  display: block;
  margin-top: 1.5rem;
  color: #fff;

  span {
    font-family: $font-body;
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
  }
}

/*
// Latest News
*/

#news {
  background-color: lighten($brand-black, 70%);
  position: relative;
  overflow: hidden;
  h3 {
    font-size: 48px;
  }
}

.post-featured {
  position: relative;
  .overlay-box {
    background-color: rgba($white, 0.85);
    position: absolute;
    bottom: 0;
    padding: 1rem 3rem;
  }
}

.post-latest {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $brand-primary;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    border: 0;
  }
  .image-thumb {
    padding-right: 2rem;
    img {
      width: 80%;
      height: auto;
    }
  }
  .post-article {
    a {
      & h4 {
        color: $brand-black;
        font-size: 17px;
        transition: all 0.3s ease;
      }

      &:hover h4 {
        color: $brand-primary;
      }
    }
  }
}

/*
// Sponsors
*/

#sponsors {
  overflow: hidden;
  h3 {
    font-size: 48px;
    span {
      font-family: $font-secondary;
      font-style: italic;
      font-weight: 300;
    }
  }
  .mission {
    p {
      font-size: 14px;
      line-height: 2;
      color: lighten($brand-black, 25%);
    }
  }

  #accordion {
    .card {
      margin-bottom: 1rem;
      border: 0;
      h5 {
        a {
          display: block;
          padding: .75rem 1.25rem;
          border-radius: 30px;
          background-color: $brand-primary;
          color: #fff;
          transition: all 0.3s ease;
          &.collapsed {
            background-color: $white;
            color: $brand-primary;
            &:hover {
              color: darken($brand-primary, 18%);
            }
          }
          &:hover {
            text-decoration: none;
            color: $white;
          }
        }
      }
      .card-header {
        background-color:$white;
          border-radius: 30px;
          border: 1px solid $brand-primary;
          padding: 0;
      }
      .card-body {
        padding: 0 0 0 1.25rem;
        margin: 1.25rem;
        margin-left: 1.75rem;
        border-left: 2px solid lighten($brand-black, 50%);
      }
    }
  }
}

/*
// Donate
*/

#donate {
  padding: 1rem 0;
}
