// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i|Roboto+Slab:400,700');


// Theme Colors
$brand-primary: #009bbe; // Brand Blue for HomeAidSD
$brand-black: #212121; // Offset Black Color
$white: #ffffff;

// Font Stack
$font-header: 'Roboto Slab', serif;
$font-body: 'Open Sans', sans-serif;
